:root {
  --bottom: -20px;
  --left: -15px;
}

* {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(82, 78, 75);
}

h1,
button {
  text-align: center;
  color: rgb(255, 255, 255);
}

#buttons {
  display: flex;
  align-items: center;
}

button {
  background-color: rgb(66, 64, 62);
  width: 65px;
  height: 25px;
  border: none;
  border-bottom: 4px solid rgb(49, 48, 46);
  border-radius: 5px;
  cursor: pointer;
}

#boardContainer {
  display: flex;
  justify-content: center;
}

#buttons {
  display: flex;
  flex-direction: column;
  margin: 30px;
  gap: 20px;
  border-radius: 8px;
}

.activeButton {
  outline: solid 3px rgb(49, 48, 46);
}

#chessboard {
  width: 400px;
  height: 400px;
  /* border-radius: 8px; */
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  /* overflow: hidden; */
}

.cell {
  font-size: 2rem;
  background-color: rgb(120, 152, 88);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(66, 64, 62);
}

.cell:nth-child(16n + 1),
.cell:nth-child(16n + 3),
.cell:nth-child(16n + 5),
.cell:nth-child(16n + 7),
.cell:nth-child(16n + 10),
.cell:nth-child(16n + 12),
.cell:nth-child(16n + 14),
.cell:nth-child(16n + 16) {
  background-color: hsl(32, 54%, 93%);
}

.cell.start > .overlay {
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  background: url(knight.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.cell.target > .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  background: url(target.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

[id="[0,0]"]::after,
[id="[1,0]"]::after,
[id="[2,0]"]::after,
[id="[3,0]"]::after,
[id="[4,0]"]::after,
[id="[5,0]"]::after,
[id="[6,0]"]::after,
[id="[7,0]"]::after,
[id="[0,0]"]::before,
[id="[0,1]"]::before,
[id="[0,2]"]::before,
[id="[0,3]"]::before,
[id="[0,4]"]::before,
[id="[0,5]"]::before,
[id="[0,6]"]::before,
[id="[0,7]"]::before {
  font-size: 0.9rem;
  color: hsl(0, 0%, 80%);
}

[id="[0,0]"]::after {
  position: absolute;
  content: "a";
  bottom: var(--bottom);
}
[id="[1,0]"]::after {
  position: absolute;
  content: "b";
  bottom: var(--bottom);
}
[id="[2,0]"]::after {
  position: absolute;
  content: "c";
  bottom: var(--bottom);
}
[id="[3,0]"]::after {
  position: absolute;
  content: "d";
  bottom: var(--bottom);
}
[id="[4,0]"]::after {
  position: absolute;
  content: "e";
  bottom: var(--bottom);
}
[id="[5,0]"]::after {
  position: absolute;
  content: "f";
  bottom: var(--bottom);
}
[id="[6,0]"]::after {
  position: absolute;
  content: "g";
  bottom: var(--bottom);
}
[id="[7,0]"]::after {
  position: absolute;
  content: "h";
  bottom: var(--bottom);
}

[id="[0,0]"]::before {
  position: absolute;
  content: "1";
  left: var(--left);
}
[id="[0,1]"]::before {
  position: absolute;
  content: "2";
  left: var(--left);
}
[id="[0,2]"]::before {
  position: absolute;
  content: "3";
  left: var(--left);
}
[id="[0,3]"]::before {
  position: absolute;
  content: "4";
  left: var(--left);
}
[id="[0,4]"]::before {
  position: absolute;
  content: "5";
  left: var(--left);
}
[id="[0,5]"]::before {
  position: absolute;
  content: "6";
  left: var(--left);
}
[id="[0,6]"]::before {
  position: absolute;
  content: "7";
  left: var(--left);
}
[id="[0,7]"]::before {
  position: absolute;
  content: "8";
  left: var(--left);
}
